BranchService/HostedServices/bin/*
BranchService/HostedServices/obj/*
BranchService/Business/bin/*
BranchService/Business/obj/*
BranchService/Core/bin/*
BranchService/Core/obj/*
BranchService/DataAccess/bin/*
BranchService/DataAccess/obj/*
BranchService/Entities/bin/*
BranchService/Entities/obj/*
BranchService/WebApi/bin/*
BranchService/WebApi/obj/* 
BranchService/.vs/*
BranchService/.idea/*  
CdnService/HostedServices/bin/*
CdnService/HostedServices/obj/*
CdnService/Business/bin/*
CdnService/Business/obj/*
CdnService/Core/bin/*
CdnService/Core/obj/*
CdnService/DataAccess/bin/*
CdnService/DataAccess/obj/*
CdnService/Entities/bin/*
CdnService/Entities/obj/*
CdnService/WebApi/bin/*
CdnService/WebApi/obj/* 
CdnService/.vs/*
CdnService/.idea/*  
GraphService/HostedServices/bin/*
GraphService/HostedServices/obj/*
GraphService/Business/bin/*
GraphService/Business/obj/*
GraphService/Core/bin/*
GraphService/Core/obj/*
GraphService/DataAccess/bin/*
GraphService/DataAccess/obj/*
GraphService/Entities/bin/*
GraphService/Entities/obj/*
GraphService/WebApi/bin/*
GraphService/WebApi/obj/* 
GraphService/.vs/*
GraphService/.idea/*  
Inventory/HostedServices/bin/*
Inventory/HostedServices/obj/*
Inventory/Business/bin/*
Inventory/Business/obj/*
Inventory/Core/bin/*
Inventory/Core/obj/*
Inventory/DataAccess/bin/*
Inventory/DataAccess/obj/*
Inventory/Entities/bin/*
Inventory/Entities/obj/*
Inventory/WebApi/bin/*
Inventory/WebApi/obj/* 
Inventory/.vs/*
Inventory/.idea/*  
KanbanService/HostedServices/bin/*
KanbanService/HostedServices/obj/*
KanbanService/Business/bin/*
KanbanService/Business/obj/*
KanbanService/Core/bin/*
KanbanService/Core/obj/*
KanbanService/DataAccess/bin/*
KanbanService/DataAccess/obj/*
KanbanService/Entities/bin/*
KanbanService/Entities/obj/*
KanbanService/WebApi/bin/*
KanbanService/WebApi/obj/* 
KanbanService/WebApi/App_Data/* 
KanbanService/.vs/*
KanbanService/.idea/*  
ScanService/HostedServices/bin/*
ScanService/HostedServices/obj/*
ScanService/Business/bin/*
ScanService/Business/obj/*
ScanService/Core/bin/*
ScanService/Core/obj/*
ScanService/DataAccess/bin/*
ScanService/DataAccess/obj/*
ScanService/Entities/bin/*
ScanService/Entities/obj/*
ScanService/WebApi/bin/*
ScanService/WebApi/obj/* 
ScanService/WebApi/App_Data/* 
ScanService/.vs/*
ScanService/.idea/*  
ApiGateway/ApiGateway/bin/*
ApiGateway/ApiGateway/obj/* 
ApiGateway/ApiGateway/.vs/*
ApiGateway/.idea/*  

**/bin
**/obj